.ocm-wwu__notice
{
    background-color: black;
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 0.6875rem;
    padding-right: 0.6875rem;

    @media(min-width: $breakpoint-tablet)
    {
        padding-left: 0.6875rem;
        padding-right: 0.6875rem;
    }

    @media(min-width: $breakpoint-tablet-large)
    {
        display: flex;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media(min-width: $breakpoint-desktop)
    {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .ocm-wwu-notice__title
    {
        @media(min-width: $breakpoint-tablet-large)
        {
            width: 50%;
            margin-right: 1rem;
        }
    }

    .ocm-wwu-notice__text
    {
        margin-top: 2rem;
        @media(min-width: $breakpoint-tablet-large)
        {
            margin-top: 0;
            width: 50%;
            margin-left: 1rem;
        }
    }

    h1,h2{color: white;}

    h1
    {
        font-family: $font-ocm-secondary;
        font-size: 1.875rem;
        line-height: 1.875rem;
        letter-spacing: 0.031rem;

        @media (min-width: $breakpoint-desktop)
        {
            font-size: 3.813rem;
            letter-spacing: 0.064rem;
            line-height: 3.625rem;
        }
    }
    h2
    {
        font-family: $font-ocm-secondary;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.031rem;
        margin-top: 0;
    }
    p, ul, li
    {
        font-family: $font-ocm;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.017rem;
        line-height: 1.25;
        color: white;

        @media (min-width: $breakpoint-desktop)
        {
            font-size: 1.125rem;
            letter-spacing: 0.019rem;
            line-height: 1.33rem;
        }
    }
}
