.ocm-wwu__process
{
    position: relative;
    width: 100%;
    height: calc(100vh - 84px);

    @media (min-width: $breakpoint-desktop)
    {
        lost-center: 100%;
        align-items: center;
        height: calc(100vh - 124px);
    }

    .ocm-wwu-process__guide
    {
        position: absolute;
        top: 4vh;
        left: $page-margin;
        color: $dark-grey;
        font-family: $font-ocm;
        font-size: 0.813rem;
        letter-spacing: 0.031rem;
        line-height: 1.1;
        max-width: 10rem;

        @media (min-width: $breakpoint-tablet)
        {
            top: 10vh;
            left: $page-margin-tablet;
        }
        @media (min-width: $breakpoint-desktop)
        {
            display: none;
        }
    }

    .ocm-wwu-process__steps
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 10%;
        height: calc(100vh - 84px);

        @media (min-width: $breakpoint-desktop)
        {
            position: relative;
            top: auto;
            right: 0;
            lost-column: 1/2;
            width: 50%;
            height: auto;
        }

        .ocm-wwu-process__step
        {
            position: relative;
            height: 20%;

            @media (min-width: $breakpoint-desktop)
            {
                display: flex;
                align-items: center;
                height: auto;
                margin-bottom: 3rem;
            }

            &:last-child
            {
                @media (min-width: $breakpoint-desktop)
                {
                    margin-bottom: 0;
                }
            }

            .ocm-wwu-process-step__number
            {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: $dark-grey;
                font-family: $font-ocm;
                font-size: 2.5rem;
                transition: all .3s;
                margin: 0;

                @media (min-width: $breakpoint-desktop)
                {
                    position: relative;
                    top: auto;
                    transform: none;
                    color: $black;
                    font-family: $font-ocm-secondary;
                    font-size: 5rem;
                    line-height: 1;
                }

                &.is-active
                {
                    color: $black;
                }
            }

            .ocm-wwu-process-step__details
            {
                display: none;

                @media (min-width: $breakpoint-desktop)
                {
                    display: block;
                    padding-right: $page-margin-desktop;
                    padding-left: 2.125rem;
                }
                @media (min-width: $breakpoint-desktop-xl)
                {
                    padding-right: $page-margin-desktop-large;
                }

                h2
                {
                    font-family: $font-ocm-secondary;
                    font-size: 1.563rem;
                    letter-spacing: 0.026rem;
                    line-height: 1.1;
                    margin: 0;
                }
                p
                {
                    font-family: $font-ocm;
                    font-size: 1rem;
                    letter-spacing: 0.026rem;
                    line-height: 1.2;
                    margin: .5rem 0 0;
                }
            }
        }
    }

    .ocm-wwu-process__info
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        padding-left: $page-margin;

        @media (min-width: $breakpoint-tablet)
        {
            padding-left: $page-margin-tablet;
        }
        @media (min-width: $breakpoint-desktop)
        {
            position: relative;
            top: auto;
            transform: none;
            lost-column: 1/2;
            width: 50%;
            padding-right: $page-margin-desktop;
        }
        @media (min-width: $breakpoint-desktop-xl)
        {
            padding-right: $page-margin-desktop-large;
            padding-left: $page-margin-desktop-large;
        }

        h1
        {
            font-family: $font-ocm-secondary;
            font-size: 1.875rem;
            line-height: 1.875rem;
            letter-spacing: 0.031rem;

            @media (min-width: $breakpoint-desktop)
            {
                font-size: 3.813rem;
                letter-spacing: 0.064rem;
                line-height: 3.625rem;
            }
        }
        h2
        {
            font-family: $font-ocm-secondary;
            font-size: 1.5rem;
            line-height: 1.5rem;
            letter-spacing: 0.031rem;
        }
        p
        {
            font-family: $font-ocm;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0.017rem;
            line-height: 1.25;

            @media (min-width: $breakpoint-desktop)
            {
                font-size: 1.125rem;
                letter-spacing: 0.019rem;
                line-height: 1.33rem;
            }
        }
    }
}
