.ocm-wwu-project__submit {

  .ocm-wwu-project__submitting {

    @media (min-width: $breakpoint-desktop) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .ocm-wwu-project-submit__comments {
      padding: 1rem 0 0;

      @media (min-width: $breakpoint-desktop) {
        padding: 3rem 0 0;
      }

      label {
        font-family: $font-ocm-secondary;
        font-weight: 700;

        @media (min-width: $breakpoint-desktop) {
          font-size: 1.75rem;
        }
      }

      textarea {
        font-family: $font-ocm;
        font-weight: 400;
        background-color: #fcfcfc;
        border: none;

        @media (min-width: $breakpoint-desktop) {
          max-width: 65%;
        }
      }
    }

    .project__next--container {
      bottom: 1vh;

      @media (min-width: $breakpoint-tablet) {
        bottom: 6vh;
      }

      @media (min-width: $breakpoint-desktop) {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 3rem;
      }

      button {

        &:after {
          content: '';
          width: 120%;
        }
      }
    }
  }

  h1 {
    font-family: $font-ocm-secondary;
    font-size: 1.875rem;
    line-height: 2.125rem;
    letter-spacing: 0.5px;
    margin-top: 1rem;

    @media (min-width: $breakpoint-tablet) {
    	font-size:4vw;
    	line-height:4vw;
    }


    @media (min-width: $breakpoint-desktop) {
    	font-size: 3.8125rem;
    	line-height: 3.625rem;
    }

    &.ocm-wwu-project-submit__title {
      position: relative;

      @media (min-width: $breakpoint-desktop) {
        padding-bottom: 2.5rem;
      }
      @media (min-width: $breakpoint-desktop-large) {
        font-size: 4.438rem;
        line-height: 4.6rem;
      }

      &:before,
      &:after {
        content: '';

        @media (min-width: $breakpoint-desktop) {
          position: absolute;
          bottom: 0;
          width: 70%;
          height: 1.25rem;
        }
      }
      &:before {

        @media (min-width: $breakpoint-desktop) {
          background-color: $black;
          left: -50%;
          z-index: 2;
        }
      }
      &:after {

        @media (min-width: $breakpoint-desktop) {
          background-color: $darker-grey;
          left: -40%;
          z-index: 1;
        }
      }
    }
  }
  p {
    color: $dark-grey;
    font-family: $font-ocm;

    @media (min-width: $breakpoint-desktop) {
      font-size: 1.938rem;
      line-height: 1.1;
      max-width: 65%;
    }

    span {
      color: $black;
      font-family: $font-ocm-secondary;
    }
  }
  ul {
    list-style: none;
    margin: 0;

    @media (min-width: $breakpoint-desktop) {
      lost-center: 100%;
    }

    li {
      font-family: $font-ocm-secondary;
      font-size: 1.125rem;
      letter-spacing: 0.019rem;
      line-height: 1.1;

      @media (min-width: $breakpoint-desktop) {
        lost-column: 1/4;
        margin-top: 1.25rem;
        margin-bottom: .25rem;
      }
    }
  }
}
