.ocm__logo--download {

  @media (min-width: $breakpoint-tablet-large) {
    lost-center: 100%;
    align-items: flex-start;
    padding-top: 28rem;
  }
  @media (min-width: $breakpoint-desktop) {
    padding-top: 34vh;
  }
  @media (min-width: 1400px) {
    align-items: center;
    padding-top: 15vh;
  }
  @media (min-width: $breakpoint-desktop-large) {
    padding-top: 7vh;
  }
  @media (min-width: $breakpoint-desktop-xl) {
    padding-top: 12vh;
  }
  @media (min-width: $breakpoint-desktop-huge) {
    padding-top: 30vh;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('/communications/images/logo-download-bg.svg') 52% -.5rem no-repeat;
    background-size: cover;
    width: 40%;
    height: 100vh;

    @media (min-width: $breakpoint-tablet) {
      background-position: 55% -5rem;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 50%;
    }
  }

  h1,
  .ocm-logo-download__steps {

    @media (min-width: $breakpoint-tablet-large) {
      lost-column: 2/5;
    }
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding: 2rem $page-margin 2rem 0;
    margin-left: 45%;

    @media (min-width: $breakpoint-tablet) {
      font-size: 3.063rem;
      letter-spacing: 0.051rem;
      line-height: 3.5rem;
      padding: 3rem $page-margin-tablet 2rem 0;
      max-width: 45%;
    }
    @media (min-width: $breakpoint-tablet-large) {
      lost-offset: 1/5;
      padding-top: 0;
    }
    @media (min-width: $breakpoint-desktop) {
      max-width: 33%;
    }
    @media (min-width: 1400px) {
      max-width: 25%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      max-width: 20%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      max-width: 15%;
    }
  }

  .ocm-logo-download__steps {
    padding: 1rem $page-margin 3rem;
    margin-left: 25%;

    @media (min-width: $breakpoint-tablet) {
      padding: 2.5rem $page-margin-tablet 3rem;
      margin-left: 25%;
    }

    @media (min-width: $breakpoint-tablet-large) {
      padding: 0 $page-margin-tablet 3rem 0;
      margin-left: 0;
    }

    @media (min-width: $breakpoint-desktop-large) {
      lost-column: 2/7;
      lost-offset: 1/7;
    }

    & > * {

      &:first-child {

        @media (min-width: $breakpoint-tablet-large) {
          margin-top: 0;
        }
      }
    }

    a {
      font-family: $font-ocm-secondary;
      border-bottom: .25rem solid $red;

      &:hover {
        color: $black;
      }
    }
  }
}
