.ocm__logo--new {
  padding: 2rem $page-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: 7vh $page-margin-tablet;
  }
  @media (min-width: $breakpoint-desktop) {
    lost-center: 100%;
    align-items: flex-start;
    padding: 16vh $page-margin-desktop;
  }
  @media (min-width: $breakpoint-desktop-large) {
    padding: 14vh $page-margin-desktop;
  }
  @media (min-width: $breakpoint-desktop-xl) {
    padding: 16vh $page-margin-desktop;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('/communications/images/logo-new-bg.svg') right top no-repeat;
    background-size: cover;
    width: 75%;
    height: 5rem;

    @media (min-width: $breakpoint-tablet) {
      height: 15rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      height: 30rem;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 50%;
      height: 35rem;
    }
    @media (min-width: 1400px) {
      width: 50%;
      height: 25rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      height: 40rem;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      height: 45rem;
    }
  }

  & > * {

    @media (min-width: $breakpoint-desktop) {
      lost-column: 1/2;
    }
    @media (min-width: $breakpoint-desktop-large) {
      lost-column: 2/5;
    }

    &:first-child {

      @media (min-width: $breakpoint-desktop) {
        lost-column: 1/4;
        lost-offset: 1/5;
      }
      @media (min-width: $breakpoint-desktop-large) {
        lost-offset: 1/4;
      }
    }
  }

  h1 {
    word-wrap: normal;
    max-width: 100%;

    @media (min-width: $breakpoint-tablet) {
      max-width: 45%;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      padding-right: 5rem;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      padding-right: 12rem;
    }
  }

  form {
    padding: 1rem 0 4rem;

    @media (min-width: $breakpoint-desktop) {
      padding-top: 4.125rem;
      padding-left: 5rem;
    }

    fieldset {
      background-color: transparent;
      padding: 0;
      border: none;

      input {
        font-family: $font-ocm-secondary;
        padding: 0 0 .5rem;
        margin-bottom: 1.75rem;
        border: none;
        border-bottom: 0.313rem solid #dedede;
        transition: all .3s;

        @media (min-width: $breakpoint-tablet) {
          margin-bottom: 3rem;
        }
        @media (min-width: $breakpoint-desktop) {
          font-size: 1.063rem;
          letter-spacing: 0.015rem;
          padding: 0 0 1rem;
          margin-bottom: 5.5rem;
        }

        &:focus {
          background-color: transparent;
          border-color: #dedede
        }

        &:last-child {

          @media (min-width: $breakpoint-desktop) {
            margin-bottom: 4rem;
          }
        }

        &.error {
          border-bottom: 0.313rem solid $red;
        }

        & + p.ocm__error-tip {
          display: none;
          color: $red;
          font-size: 0.85rem;
          line-height: 1;
          margin-top: -1.25rem;
          margin-bottom: 0.4;

          @media (min-width: $breakpoint-tablet) {
            margin-top: -2.5rem;
            margin-bottom: 1.65rem;
          }
          @media (min-width: $breakpoint-desktop) {
            margin-top: -5rem;
            margin-bottom: 4.15rem;
          }
        }
      }
    }

    // Autofill styles
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      box-shadow: 0 0 0rem 62.5rem $grey inset;
    }

    button {
      background-color: transparent;
      color: $black;
      font-family: $font-ocm-secondary;
      padding: .5rem 2rem;
      border: .25rem solid $dark-grey;

      &:hover {
        background-color: $dark-grey;
        color: $white;
        cursor: pointer;
      }
    }
  }
}
