.ocm__logo--home {
  padding: 3rem $page-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: 10rem $page-margin-tablet 0;
  }
  @media (min-width: $breakpoint-tablet-large) {
    padding: 20rem $page-margin-tablet 0;
  }
  @media (min-width: $breakpoint-desktop) {
    padding: 20vh $page-margin-desktop 0;
  }
  @media (min-width: $breakpoint-desktop) and (max-height: 899px) {
    padding: 5vh $page-margin-desktop 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('/communications/images/logo-request-bg-right.svg') left top no-repeat;
    // background: url('/images/logo-request-bg-right.svg') left top no-repeat;
    background-size: cover;
    width: 30%;
    height: 52vh;

    @media (min-width: $breakpoint-tablet) {
      top: auto;
      bottom: 5rem;
      background-position: left bottom;
      width: 34%;
      height: 46rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      bottom: 7rem;
      height: 77%;
      min-height: 62rem;
    }
    @media (min-width: $breakpoint-desktop) {
      bottom: 9rem;
      width: 25%;
    }
    @media (min-width: 1400px) {
      width: 22%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      bottom: 13rem;
      width: 18.5%;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      bottom: 13rem;
      width: 17%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      bottom: 19rem;
      width: 16.5%;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('/communications/images/logo-request-bg-bottom.svg') center no-repeat;
    // background: url('/images/logo-request-bg-bottom.svg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 3rem;

    @media (min-width: $breakpoint-tablet) {
      width: 90%;
      height: 5rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      height: 7rem;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 95%;
      height: 9rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      height: 13rem;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      height: 19rem;
    }
  }

  h1 {

    @media (min-width: $breakpoint-tablet) {
      margin-left: 5%;
      max-width: 40%;
    }
    @media (min-width: $breakpoint-desktop) {
      margin-left: 10%;
      max-width: 30%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      margin-left: 15%;
      max-width: 20%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      margin-left: 25%;
      max-width: 15%;
    }
  }

  p {
    padding-right: $page-margin;
    width: 70%;

    @media (min-width: $breakpoint-tablet) {
      width: 50%;
      padding-right: 0;
      margin-left: 5%;
    }
    @media (min-width: $breakpoint-desktop) {
      margin-left: 10%;
      max-width: 28.375rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      margin-left: 15%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      margin-left: 25%;
    }
  }

  .ocm-logo-home__buttons {
    lost-center: 90%;
    align-items: flex-end;
    padding: 2rem 0;

    @media (min-width: $breakpoint-desktop) {
      lost-center: 80%;
      padding: 4vh 0 0;
    }
    @media (min-width: $breakpoint-desktop-large) {
      lost-center: 70%;
      padding: 6vh 0 0;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      lost-center: 50%;
    }

    .ocm__more-link {
      lost-column: 1/2;

      @media (min-width: $breakpoint-tablet) {
        lost-column: 1/4;
      }
      @media (min-width: $breakpoint-desktop) {
        lost-column: 1/4 0;
      }

      &:last-child {

        @media (min-width: $breakpoint-desktop) {
          lost-offset: 1/8;
        }
      }
    }
  }
}
