.ocm-staff__administration {

  @media (min-width: $breakpoint-desktop-large) {
    max-width: 1800px;
    margin: 0 auto;
  }

  .ocm-staff__h2 {
    padding-top: 5rem;
    padding-right: 30%;
    margin-top: 1.5rem;
    margin-left: 20%;

    @media (min-width: $breakpoint-tablet) {
      padding-right: 45%;
    }
    @media (min-width: $breakpoint-tablet-large) {
      padding: 8.75rem 40% 3.75rem 3.75rem;
    }
    @media (min-width: $breakpoint-desktop) {
      text-align: right;
      padding: 8.75rem 3.75rem 3.75rem 30%;
      margin-bottom: 6.25rem;
      margin-left: 35.75%;
    }
    @media (min-width: 1400px) {
      margin-left: 38.25%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      padding: 8.75rem 3.75rem 3.75rem 40%;
      margin-left: 37.825%;
    }
  }
}
