.ocm-staff__header {
  position: relative;
  padding: 2rem 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 4rem 0;
  }
  @media (min-width: 1400px) {
    padding: 8rem 0;
  }
  @media (min-width: $breakpoint-desktop-large) {
    padding: 12rem 0 8.5rem;
    max-width: 1800px;
    margin: 0 auto;
  }

  .ocm-staff-header__subtitle {
    color: $red;
    font-family: $font-ocm-secondary;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.281rem;
    margin: 0 $page-margin;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 $page-margin-tablet;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 1.875rem;
      letter-spacing: 0.421rem;
      padding-left: 0;
    }
    @media (min-width: $breakpoint-desktop) {
      margin: 0 $page-margin-desktop;
    }
    @media (min-width: $breakpoint-desktop-large) {
      font-size: 2.125rem;
      letter-spacing: 0.476rem;
      padding-left: 1rem;
      margin: 0 $page-margin-desktop-large;
    }
  }

  h1 {
    position: relative;
    font-family: $font-ocm-secondary;
    font-size: 6.688rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 $page-margin;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 $page-margin-tablet;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 10.938rem;
    }
    @media (min-width: $breakpoint-desktop) {
      margin: 0 $page-margin-desktop 4rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      font-size: 13.813rem;
      line-height: 11.569rem;
      margin: 0 $page-margin-desktop-large 4rem;
    }

    &:after {
      content: '';
      position: absolute;
      right: 10%;
      bottom: 0;
      background-color: $red;
      height: 2rem;
      width: 66%;
      opacity: 0.83;
      z-index: 2;

      @media (min-width: $breakpoint-tablet) {
        right: auto;
        left: 11.5%;
        width: 15rem;
      }
      @media (min-width: $breakpoint-desktop) {
        bottom: .5rem;
        left: 12%;
        width: 20rem;
      }
      @media (min-width: 1400px) {
        left: 10%;
      }
      @media (min-width: $breakpoint-desktop-large) {
        bottom: -.375rem;
        left: 11.25%;
        width: 25rem;
      }
    }
  }

  p {
    font-family: $font-ocm;
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 1.25rem $page-margin;

    @media (min-width: $breakpoint-tablet) {
      margin: 1.25rem $page-margin-tablet;
      max-width: 60%;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 1.438rem;
      line-height: 2.438rem;
      padding-left: $page-margin-tablet;
    }
    @media (min-width: $breakpoint-desktop) {
      margin: 1.25rem $page-margin-desktop;
      padding-left: $page-margin-desktop;
      max-width: 55%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      margin: 1.25rem $page-margin-desktop-large;
      padding-left: $page-margin-desktop-large;
      max-width: 55%;
    }
  }
}
