.ocm-staff__leadership {

  @media (min-width: $breakpoint-desktop-large) {
    max-width: 1800px;
    margin: 0 auto;
  }

  .ocm-staff__h2 {
    font-size: 1.875rem;
    line-height: 1.875rem;
    letter-spacing: 0.024rem;
    text-align: right;
    padding: 9.3125rem 2.5rem 2.5rem 40%;
    margin-right: $page-margin;
    margin-bottom: 0;

    @media (min-width: $breakpoint-tablet) {
      font-size: 2.125rem;
      line-height: 2.125rem;
      padding: 9.3125rem 2.5rem 2.5rem 60%;
      margin-right: $page-margin-tablet;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 4.875rem;
      line-height: 4.875rem;
      letter-spacing: 0.063rem;
      padding: 9.3125rem 3.75rem 3.75rem 40%;
    }
    @media (min-width: $breakpoint-desktop) {
      padding: 14.875rem 3.75rem 3.75rem;
      margin-right: 41.25%;
    }
    @media (min-width: 1400px) {
      padding: 14.875rem 3.75rem 3.75rem 20%;
      margin-right: 37.625%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      padding: 14.875rem 3.75rem 3.75rem 35%;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      margin-right: 37.5%;
    }
  }

  .ocm-staff__container {
    lost-center: 100%;
    align-items: stretch;
    padding: 0 $page-margin 0;

    @media (min-width: $breakpoint-tablet) {
      align-items: center;
      padding: 0 $page-margin-tablet;
    }
    @media (min-width: $breakpoint-desktop) {
      padding: 0 $page-margin-desktop;
    }

    & > div:nth-child(odd) {
      lost-column: 2/5 0 0;
    }
    & > div:nth-child(even) {
      lost-column: 3/5 1 0;

      @media (min-width: $breakpoint-desktop) {
        lost-column: 2/5 1 0;
      }
      @media (min-width: 1400px) {
        lost-column: 36/100 1 0;
      }
    }
    & > div:nth-child(1) {
      padding-right: .5rem;

      @media (min-width: $breakpoint-desktop) {
        lost-column: 4/13 1 0;
        padding-right: 2rem;
      }
      @media (min-width: 1400px) {
        lost-column: 27/100 1 0;
        lost-offset: 36/100;
        padding-right: 4rem;
      }
    }
    & > div:nth-child(2) {

      @media (min-width: $breakpoint-desktop) {
        lost-offset: 0;
        margin-right: 0 !important;
      }

      a {
        top: 20%;

        @media (min-width: $breakpoint-tablet-large) {
          top: 6rem;
        }
      }
    }
    & > div:nth-child(3) {
      lost-column: 2/5 0 0;

      @media (min-width: $breakpoint-desktop) {
        lost-column: 4/13 1 0;
      }
      @media (min-width: 1400px) {
        lost-column: 27/100 1 0;
        lost-offset: 36/100;
      }
    }
    & > div:nth-child(4) {
      lost-column: 3/5 1;

      @media (min-width: $breakpoint-desktop) {
        lost-column: 2/5 1 0;
        lost-offset: 0;
        margin-right: 0 !important;
        padding-right: 2rem;
      }
      @media (min-width: 1400px) {
        lost-column: 36/100 1 0;
        padding-right: 4rem;
      }

      h4 {
        margin-top: 15%;

        @media (min-width: $breakpoint-tablet) {
          margin-top: 0;
          margin-left: $page-margin-tablet;
        }
      }
      p {

        @media (min-width: $breakpoint-tablet) {
          margin-left: $page-margin-tablet;
        }
      }
    }

    .ocm-staff-leadership__info {

      h4 {
        font-family: $font-ocm-secondary;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0;

        @media (min-width: $breakpoint-tablet-large) {
          font-size: 2.438rem;
          line-height: 1;
        }
      }
      p {
        color: $darker-grey;
        font-family: $font-ocm;
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 1.125rem;
        margin-top: 0.625rem;

        @media (min-width: $breakpoint-tablet-large) {
          font-size: 1.25rem;
          line-height: 1.75rem;
          margin-top: 1rem;
        }
      }
    }

    .ocm-staff-leadership__photo {
      position: relative;
      background-color: $dark-grey;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;

      &:before {
        content: '';
        position: relative;
        display: block;
        padding-top: 100%;
        z-index: 1;
      }

      a {
        position: absolute;
        top: 33%;
        left: .625rem;
        transform: rotate(-90deg);
        transform-origin: top left;
        color: $white;
        font-family: $font-ocm-secondary;
        font-size: 0.5rem;
        font-weight: 700;
        letter-spacing: 0.102rem;
        line-height: 1.75;
        z-index: 2;
        overflow: hidden;

        @media (min-width: $breakpoint-tablet) {
          top: 25%;
          left: 1.25rem;
        }
        @media (min-width: $breakpoint-tablet-large) {
          top: 6rem;
          left: 2rem;
          font-size: 1rem;
          line-height: 1.75rem;
        }

        &:hover {

          &:before {
            opacity: 1 !important;
            transform: translateX(0%);
            transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s, transform 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s;
          }
          &:after {
            opacity: 0 !important;
            transform: translateX(150%);
            transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s, transform 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s;
          }
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $white;
          width: 100%;
          height: 0.1rem;
        }
        &:before {
          opacity: 1 !important;
          transform: translateX(-125%);
          transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0s cubic-bezier(1, 0, 0, 1) 0s, transform 0s cubic-bezier(1, 0, 0, 1) 0s;
        }
        &:after {
          opacity: 1 !important;
          transform: translateX(0%);
          transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0s cubic-bezier(1, 0, 0, 1) 0s, transform 0s cubic-bezier(1, 0, 0, 1) 0s;
        }
      }
    }
  }
}
