.ocm-staff__marketing {

  @media (min-width: $breakpoint-desktop-large) {
    max-width: 1800px;
    margin: 0 auto;
  }

  .ocm-staff__h2 {
    padding-top: 5rem;
    padding-right: 40%;
    margin-top: 1.5rem;
    margin-left: 20%;

    @media (min-width: $breakpoint-tablet) {
      padding-right: 55%;
    }
    @media (min-width: $breakpoint-tablet-large) {
      padding: 8.75rem 40% 3.75rem 3.75rem;
    }
    @media (min-width: $breakpoint-desktop) {
      text-align: right;
      padding: 8.75rem 3.75rem 3.75rem 35%;
      margin-right: 35.85%;
      margin-bottom: 6.25rem;
      margin-left: 0;
    }
    @media (min-width: 1400px) {
      margin-right: 38.5%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      padding: 8.75rem 3.75rem 3.75rem 45%;
      margin-right: 38%;
    }
  }
}
