.ocm-staff__media {

  @media (min-width: $breakpoint-desktop-large) {
    max-width: 1800px;
    margin: 0 auto;
  }

  .ocm-staff__h2 {
    margin-top: 0;
    margin-left: 41%;

    @media (min-width: $breakpoint-desktop) {
      font-size: 2.5rem;
      text-align: right;
      margin-right: 68.25%;
      margin-bottom: 6.25rem;
      margin-left: 0;
    }
    @media (min-width: 1400px) {
      font-size: 2.75rem;
      margin-right: 61.75%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      margin-right: 62.25%;
    }
  }
}
