.ocm-staff__container {
  lost-center: 100%;
  padding: 0 $page-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 $page-margin-tablet;
  }
  @media (min-width: 1400px) {
    padding: 0 $page-margin-desktop;
  }
  @media (min-width: $breakpoint-desktop-large) {
    lost-center: 1800px;
    padding: 0;
  }

  .ocm-staff__member {
    lost-column: 37/100 0;

    @media (min-width: $breakpoint-tablet) {
      lost-column: 38.25/100 0;
    }
    @media (min-width: $breakpoint-tablet-large) {
      lost-column: 39/100 0;
    }
    @media (min-width: $breakpoint-desktop) {
      lost-column: 1/3 0 4.2%;
    }
    @media (min-width: 1400px) {
      lost-column: 1/3 0 11%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      lost-column: 1/3 0 13.5%;
    }

    &:nth-child(3n) {

      @media (min-width: $breakpoint-desktop) {
        margin-right: 0 !important;
      }
    }

    .ocm-staff-member__photo {
      position: relative;
      background-color: $dark-grey;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;

      &:before {
        content: '';
        position: relative;
        display: block;
        padding-top: 100%;
        z-index: 1;
      }

      a {
        position: absolute;
        top: 40%;
        left: .625rem;
        transform: rotate(-90deg);
        transform-origin: top left;
        color: $white;
        font-family: $font-ocm-secondary;
        font-size: 0.5rem;
        font-weight: 700;
        letter-spacing: 0.102rem;
        line-height: 1.75;
        z-index: 2;
        overflow: hidden;

        @media (min-width: $breakpoint-tablet) {
          top: 25%;
          left: 1.25rem;
        }
        @media (min-width: $breakpoint-tablet) {
          font-size: 1rem;
          line-height: 1.75rem;
          top: 5rem;
          left: 1rem;
        }

        &:hover {

          &:before {
            opacity: 1 !important;
            transform: translateX(0%);
            transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s, transform 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s;
          }
          &:after {
            opacity: 0 !important;
            transform: translateX(150%);
            transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s, transform 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s;
          }
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $white;
          width: 100%;
          height: 0.1rem;
        }
        &:before {
          opacity: 1 !important;
          transform: translateX(-125%);
          transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0s cubic-bezier(1, 0, 0, 1) 0s, transform 0s cubic-bezier(1, 0, 0, 1) 0s;
        }
        &:after {
          opacity: 1 !important;
          transform: translateX(0%);
          transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0s cubic-bezier(1, 0, 0, 1) 0s, transform 0s cubic-bezier(1, 0, 0, 1) 0s;
        }
      }
    }

    .ocm-staff-member__info {

      @media (min-width: $breakpoint-desktop) {
        padding-left: 1.25rem;
      }

      h4 {
        font-family: $font-ocm-secondary;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1.25rem;
        margin-bottom: 0;

        @media (min-width: $breakpoint-tablet-large) {
          font-size: 1.438rem;
          letter-spacing: 0.063rem;
        }
      }
      p {
        font-family: $font-ocm;
        font-size: 0.813rem;
        line-height: 1.2;
        margin-top: .25rem;
        margin-bottom: 1.875rem;

        @media (min-width: $breakpoint-tablet-large) {
          font-size: 1rem;
        }
        @media (min-width: $breakpoint-desktop) {
          margin-bottom: 8.125rem;
        }
      }
    }
  }
}
