@keyframes slowPageScroll {
  0% {
    background-position: 0 0;
    opacity: 0;
  }
  5%{ opacity: 0; }
  15%{ opacity: 1; }
  95%{ opacity: 1; }
  100% {
    background-position: 0 -24rem;
    opacity: 0;
  }
}


@keyframes topToBottom{
	0% { opacity: 0; transform: translateY(25%); }
	7% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 0; transform: translateY(-10%); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}





@keyframes project-complete {
  from {
    transform: scale3d(.5, .5, .5);
    opacity:0;
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity:1;
  }
}
