.ttu-emergency {
  position: relative;
  background-color: $white;
  margin: 0 auto;
  // max-width: 112.5rem;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9e9e9;
    width: 79%;
    height: 28rem;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      height: 32rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      width: 48.6%;
      height: 37vh;
      min-height: 30rem;
    }
    @media (min-width: 1400px) {
      min-height: 33.875rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      height: 45vh;
    }
  }
  &:after {
    content: '';
    display: none;

    @media (min-width: $breakpoint-tablet-large) {
      display: block;
      position: absolute;
      top: 20vh;
      left: 0;
      background-color: #e9e9e9;
      width: 39.6%;
      height: 100%;
      z-index: 1;
    }
    @media (min-width: 1400px) {
      top: 20rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      top: 26vh;
    }
  }

  & > section,
  & > div {
    position: relative;
    z-index: 2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-ocm-secondary;
    font-weight: 700;
  }

  h1 {
    font-size: 2.75rem;
    letter-spacing: 0.077rem;

    @media (min-width: $breakpoint-tablet) {
      font-size: 4rem;
      letter-spacing: 0.125rem;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 6rem;
      letter-spacing: 0.188rem;
      line-height: 1;
    }
    @media (min-width: 1400px) {
      font-size: 6.688rem;
    }
  }

  h2 {
    font-size: 0.813rem;
    letter-spacing: 0.313rem;
    line-height: 1.438rem;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet) {
      font-size: 1rem;
      line-height: 1.625rem;
      letter-spacing: 0.313rem;
    }
  }

  h4 {
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 0.188rem;
  }

  p {
    color: #333333;
    font-family: $font;
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 1.438rem;

    @media (min-width: $breakpoint-tablet) {
      font-size: 1rem;
      line-height: 1.625rem;
    }

    a {
      color: #333333;
      font-family: $font-ocm-secondary;
      font-weight: 700;
      text-decoration: none;
      box-shadow: none;
      transition: all .3s;

      &:hover {
        color: $red;
      }
    }
  }

  .ttu-emergency-home__grid {

    @media (min-width: $breakpoint-tablet-large) {
      display: flex;
      align-items: flex-start;
      margin-top: 10rem;
    }
    @media (min-width: $breakpoint-desktop) {
      margin-top: 12rem;
    }
  }

  @import "emergency/header";
  @import "emergency/alert";
  @import "emergency/connect";
  @import "emergency/body";
  @import "emergency/contact";
}
