.ocm__event-announcement {
  padding: 3rem $page-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: 3rem $page-margin-tablet;
  }
  @media (min-width: $breakpoint-desktop) {
    max-width: 65rem;
    padding: 5rem $page-margin-desktop 3rem;
    margin: 0 auto;
  }
}
