@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=a48307f1-9cc2-4324-8b0d-9d18b5191222");

@font-face{
    font-family:"Helvetica Neue LT W01_55 Roman";
    src:url("fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix");
    src:url("fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix") format("eot"),url("fonts/3dac71eb-afa7-4c80-97f0-599202772905.woff2") format("woff2"),url("fonts/34e0e4c0-c294-49bb-9a8e-1b2cafd54e32.woff") format("woff"),url("fonts/8a8bfee3-197c-4942-9b11-71508cc9f406.ttf") format("truetype"),url("fonts/5101995a-e73b-4cf9-84e8-f99eb43277b1.svg#5101995a-e73b-4cf9-84e8-f99eb43277b1") format("svg");
}
@font-face{
    font-family:"Helvetica Neue LT W01_71488914";
    src:url("fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix");
    src:url("fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix") format("eot"),url("fonts/531c5a28-5575-4f58-96d4-a80f7b702d7b.woff2") format("woff2"),url("fonts/439c5962-f9fe-4eaf-a1f6-f41d42edba75.woff") format("woff"),url("fonts/419a308d-b777-4f84-9235-2caf4a98ec23.ttf") format("truetype"),url("fonts/e4d5b881-6835-45b7-8766-3e5b9e7cab8b.svg#e4d5b881-6835-45b7-8766-3e5b9e7cab8b") format("svg");
}
