form {
  padding: 1rem 0 4rem;

  @media (min-width: $breakpoint-desktop) {
    padding: 2rem 0 4rem;
  }

  fieldset {
    background-color: transparent;
    padding: 0;
    border: none;

    legend {
      padding-left: 0;
    }

    label {
      color: $dark-grey;
      font-size: 85%;
      font-weight: 700;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="password"],
    input[type="url"],
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    textarea {
      font-family: $font-ocm-secondary;
      padding: 0 0 .5rem;
      margin-bottom: 1.75rem;
      border: none;
      border-bottom: 0.313rem solid #dedede;
      transition: all .3s;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 4rem;
      }
      @media (min-width: $breakpoint-desktop) {
        font-size: 1.063rem;
        letter-spacing: 0.015rem;
        padding: 0 0 1rem;
        margin-bottom: 5.5rem;
      }

      &:focus {
        background-color: transparent;
        border-color: #dedede
      }

      &:last-child {

        @media (min-width: $breakpoint-desktop) {
          margin-bottom: 4rem;
        }
      }

      &.error {
        border-bottom: 0.313rem solid $red;
      }

      & + p.ocm__error-tip {
        display: none;
        color: $red;
        font-size: 0.85rem;
        line-height: 1;
        margin-top: -1.25rem;
        margin-bottom: 2rem;

        @media (min-width: $breakpoint-tablet) {
          margin-top: -2.5rem;
          margin-bottom: 1.65rem;
        }
        @media (min-width: $breakpoint-desktop) {
          margin-top: -5rem;
          margin-bottom: 4.15rem;
        }
      }
    }

    textarea {
      padding: 0.5rem;
      border: 0.313rem solid #dedede;

      &.error {
        border-color: $red;
      }
    }
  }

  // Autofill styles
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    box-shadow: 0 0 0rem 62.5rem $grey inset;
  }

  button {
    background-color: transparent;
    color: $black;
    font-family: $font-ocm-secondary;
    padding: .5rem 2rem;
    border: .25rem solid $dark-grey;

    &:hover {
      background-color: $dark-grey;
      color: $white;
      border: .25rem solid $dark-grey;
      cursor: pointer;
    }
  }
}
