/***** GRID SETTINGS *****/
@lost flexbox flex;


/***** TTU SETTINGS *****/
.breadcrumb {
  display: none;
}
.l-main-pagecontent {
  background-color: $grey;
  padding-top: 0;
  min-height: calc(100vh - 84px);

  @media (min-width: $breakpoint-tablet-large) {
    min-height: calc(100vh - 124px);
  }
}
.l-contact {
  position: relative;
  margin-top: 0;
  z-index: 11;
}
.l-footer-university {
  position: relative;
  z-index: 11;
}



.l-main-pagecontent .ocm-home__h2 {
  font-family: $font-ocm-secondary;
  font-size: 1.75rem;
  letter-spacing: .125rem;
  line-height: 1.875rem;
  word-wrap: normal;
  padding: 0 $page-margin 1rem;
  margin: 0;
  max-width: 80%;

  @media (min-width: $breakpoint-tablet) {
    font-size: 3.5rem;
    line-height: 3.6rem;
    padding: 0 $page-margin-tablet 1rem;
  }
  @media (min-width: $breakpoint-tablet-large) {
    font-size: 4.5rem;
    line-height: 4.625rem;
    max-width: 55%;
  }
  @media (min-width: $breakpoint-desktop) {
    font-size: 4rem;
    letter-spacing: .25rem;
    line-height: 4.75rem;
    padding: 0 $page-margin-desktop 1rem;
    max-width: 60%;
  }
  @media (min-width: 1400px) {
    font-size: 6.688rem;
    line-height: 6.688rem;
    letter-spacing: 0.063rem;
  }
  @media (min-width: $breakpoint-desktop-large) {
    font-size: 6rem;
    line-height: 5.484rem;
    max-width: 45%;
  }
  @media (min-width: $breakpoint-desktop-huge) {
    max-width: 30%;
  }

  span {
    display: block;
    font-size: 35%;
    letter-spacing: .25rem;
    line-height: 1.25rem;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet) {
      letter-spacing: .375rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      line-height: 1.1;
    }
    @media (min-width: $breakpoint-desktop) {
      letter-spacing: .5rem;
    }
  }
}

.ocm__more-link {
  display: block;
  color: $black;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  max-width: 40%;
  padding: .5rem 0;
  margin-left: 50%;
  border-bottom: .5rem solid $black;

  @media (min-width: $breakpoint-tablet) {
    line-height: 1.5rem;
    max-width: 20%;
  }
  @media (min-width: $breakpoint-tablet-large) {
    font-size: 1.85rem;
    line-height: 1.9rem;
  }
  @media (min-width: $breakpoint-desktop) {
    max-width: 20%;
  }
  @media (min-width: 1400px) {
    max-width: 15%;
  }
  @media (min-width: $breakpoint-desktop-large) {
    max-width: 12%;
  }
  @media (min-width: $breakpoint-desktop-huge) {
    max-width: 8%;
  }

  &:hover {
    color: $red;
    cursor: pointer;
  }
}
