.ocm__logo {
  position: relative;
  min-height: calc(100vh - 84px);

  @media (min-width: $breakpoint-tablet-large) {
    min-height: calc(100vh - 124px);
  }

  h1 {
    font-family: $font-ocm-secondary;
    font-size: 3rem;
    line-height: 3.5rem;
    word-wrap: normal;
    max-width: 60%;

    @media (min-width: $breakpoint-desktop) {
      font-size: 3.063rem;
      letter-spacing: 0.051rem;
      line-height: 3.75rem;
      max-width: 20rem;
    }
  }

  h2 {
    font-family: $font-ocm-secondary;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.038rem;
  }

  p {
    font-family: $font-ocm;
    font-size: 1rem;
    line-height: 1.5rem;

    @media (min-width: $breakpoint-desktop-large) {
      font-size: 1.2rem;
      line-height: 1.825rem;
    }
  }

  p + h2 {
    margin-top: 4rem;
  }
}

@import "logo/request";
@import "logo/download";
@import "logo/new";
