.ocm__staff {

  .ocm-staff__h2 {
    background-color: $black;
    color: #ffffff;
    font-family: $font-ocm-secondary;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.063rem;
    padding: 13.125rem 1.25rem 1.25rem;

    @media (min-width: $breakpoint-tablet) {
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 2.75rem;
      letter-spacing: 0.063rem;
      line-height: 2.75rem;
    }
    @media (min-width: 1400px) {
      padding: 13.125rem 3.75rem 3.75rem;
    }
  }
}

@import "staff/header";
@import "staff/members";
@import "staff/leadership";
@import "staff/media";
@import "staff/marketing";
@import "staff/administration";
