// Breakpoints
$breakpoint-tablet: 600px;
$breakpoint-tablet-large: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1800px;
$breakpoint-desktop-xl: 2000px;
$breakpoint-desktop-huge: 2500px;

// Body
$page-margin: 1.25rem;
$page-margin-tablet: 2.5rem;
$page-margin-desktop: 4.6875rem;
$page-margin-desktop-large: 10.75rem;

// Colors
$white: #fdfdfd;
$black: #1b1b1b;
$grey: #f3f3f3;
$dark-grey: #8d8d8d;
$darker-grey: #4b4b4b;
$red: #ee0000;
$black-dark:#000000;
$green: #0db268;

// FONTS
$font:#{"'ITC Charter W01'", Georgia, Garamond, serif};
$font-secondary: #{"'Neue Helvetica W01'", Helvetica, Arial , sans-serif};
$font-condensed: 'Neue Helvetica W02', Helvetica, Arial , sans-serif;
$font-ocm: 'Helvetica Neue LT W01_55 Roman', Helvetica, Arial , sans-serif;
$font-ocm-secondary: 'Helvetica Neue LT W01_71488914', Helvetica, Arial , sans-serif;
