#ocm-wwu__app {
  display: flex;
}


/*=========================================
=            Project left container            =
=========================================*/

.ocm-wwu-project__container
{
    position: relative;
    width:75%;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
    padding: 2vh 6vw;
    min-height: calc(100vh - 84px);

    @media (min-width: $breakpoint-desktop)
    {
        width: 90%;
        min-height: calc(100vh - 124px);
    }
    @media (min-width: $breakpoint-desktop-large)
    {
        padding-left: 10%;
    }

    & > section {
        position: relative;
        height: 100%;
        padding-top: 0;

        &[field="services"],
        &.ocm-wwu-project__submit
        {
            padding-top: 0;
        }

      &[field="type"],
      &[field="category"],
      &[field="services"] {

        @media (min-width: $breakpoint-desktop) {
          // padding-top: 20vh;
        }

        .ocm-wwu-project-form__input {
          padding-bottom: 3rem;

          @media (min-width: $breakpoint-desktop) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 0;
          }

          .ocm-wwu-project__question--container,
          .ocm-wwu-project__selections {

            @media (min-width: $breakpoint-desktop) {
              width: 49%;
              padding: 0 1rem;
            }

            .ocm-wwu-project__question {

              @media (min-width: $breakpoint-desktop) {
                margin: 0;
              }
            }
          }

          .ocm-wwu-project__selections {

            @media (min-width: $breakpoint-tablet) {
              lost-center: 100%;
            }

            h3 {
              color: $dark-grey;
              font-family: $font-ocm-secondary;
              font-size: 1.5rem;
              margin: 1.5rem 0;

              @media (min-width: $breakpoint-tablet) {
                margin-top: 0;
              }
              @media (min-width: $breakpoint-desktop) {
                font-size: 1.75rem;
              }

              a {
                font-family: $font-ocm-secondary;
                font-size: inherit;
                letter-spacing: inherit;
              }
            }

            & > .ocm-wwu-project-form__radio {

              @media (min-width: $breakpoint-tablet) {
                lost-column: 2/2;
              }
              @media (min-width: $breakpoint-desktop) {
                margin-bottom: 4rem;
              }

              &:last-child {

                @media (min-width: $breakpoint-desktop) {
                  margin-bottom: 0;
                }
              }
            }
            & > .ocm-wwu-project-form__check {

              @media (min-width: $breakpoint-tablet) {
                lost-column: 2/2;
              }
              @media (min-width: $breakpoint-desktop) {
                margin-bottom: 3rem;
              }

              &:last-child {

                @media (min-width: $breakpoint-desktop) {
                  margin-bottom: 0;
                }
              }

              .project__type {

                @media (min-width: $breakpoint-desktop) {
                  margin-bottom: 0;
                }
              }
            }

            .ocm-wwu-project-form__services {

              @media (min-width: $breakpoint-tablet) {
                lost-column: 1/2;
                padding-bottom: 2rem;
              }

              &:first-child {

                h3 {
                  margin-top: 0;
                }
              }

              h3 {
                color: $black;
                font-family: $font-ocm-secondary;
                font-size: 1.5rem;
                margin: 1.5rem 0;

                @media (min-width: $breakpoint-tablet) {
                  margin-top: 0;
                }
                @media (min-width: $breakpoint-desktop) {
                  font-size: 1.75rem;
                }
              }
              .ocm-wwu-project-form__check {

                @media (min-width: $breakpoint-desktop) {
                  margin-bottom: 1rem;
                }
                @media (min-width: $breakpoint-desktop-large) {
                  margin-bottom: 2rem;
                }

                label.project__type {
                  font-size: 1.25rem !important;
                }
              }
            }
          }
        }
      }

      &[field="services"] {

        .project__type {

          @media (min-width: $breakpoint-desktop) {
            font-size: 20px !important;
          }
        }
      }

      .ocm-wwu-project-form__input {

        @media (min-width: $breakpoint-desktop) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .project__next--container {
        position: absolute;
        bottom: 5vh;

        @media (min-width: $breakpoint-tablet) {
          bottom: 6vh;
        }
        @media (min-width: $breakpoint-desktop) {
          right: 0;
          bottom: 8vh;
        }
      }
    }
}


/* text area ====================================== */



.project__text {
	lost-column:4/4;

	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	display:flex;
	height:auto;
    p {
        margin-bottom: 0em!important;
    }

      @media (min-width: $breakpoint-desktop) {

	lost-column:5/8;

      }

}






/*================================
=            Question            =
================================*/

.ocm-wwu-project__question {


    font-family: $font-ocm-secondary!important;
    font-size: 30px!important;

    line-height: 34px;
    letter-spacing: 0.5px;

  @media (min-width: $breakpoint-tablet) {

	font-size:4vw!important;
	line-height:4vw!important;
        }


        @media (min-width: $breakpoint-desktop) {

        	font-size: 61px!important;
        	line-height:58px!important;
        }
}




/*=====  End of Question  ======*/

.ocm-wwu-project__placeholder {
    background-color: transparent;
    color: #cacaca!important;
    font-family: $font-ocm-secondary!important;
    font-size: 23px!important;
    line-height: 28px;
    letter-spacing: 0.5px;
    padding: 0;
    border: none;



        @media (min-width: $breakpoint-tablet) {

	font-size:4vw!important;
	line-height:4vw!important;
        }


        @media (min-width: $breakpoint-desktop) {

        	font-size: 61px!important;
        	line-height:58px!important;
        }

    &:focus {
      border: none;
    }
}






/*=========================================
=           next / continue            =
=========================================*/


/*  ====================================== */

.project__next--container {

display:flex;
align-items:flex-start;
justify-content:center;
flex-direction:column;


}



.project__next {
    font-family: $font-ocm-secondary!important;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: $black-dark;
    display:inline-block;
	position:relative;
	z-index:1;
 	padding:.25rem;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.75rem;
    letter-spacing: 0.029rem;
  }

	&:hover{

    @media (min-width: $breakpoint-desktop) {
      color:$white;
      padding:.25rem;
      font-weight:100;
    }
	}
  &:focus {
    color: $black-dark;
  }

&:after{

	background:rgba($red,.8);
	    height:8px;
	    position:absolute;
		bottom:5px;
	    left:0;
	    content:'';
	    display:inline-block;
	    width:100%;
	    z-index:-1;
	    transition:all .1s ease;

      @media (min-width: $breakpoint-desktop) {
        height: 0.813rem;
        bottom: 0;
      }

}


&:hover:after{

  @media (min-width: $breakpoint-desktop) {
    height:100%;
  	bottom:0;
  }


}

}

.project__submit {
  background: transparent;
  border: none;

  &:after {
    content: '';
    background:rgba($green,.8);
  }
  &:hover {
    color: $black;
    border: none;
  }
}



.next-section{

color:#c4c4c4;
font-family: "Helvetica Neue";
font-size: 12px!important;
line-height:12px;
font-weight: 400;
padding-left:1rem;
}



/*========================================
=           Project states            =
========================================*/





/* Active ========== */

.is-active {

    p {
        color: $black-dark;
    }

    .ocm-wwu-project-progress__icon path,
    .ocm-wwu-project-progress__icon g {
        fill: $black;
    }
}



/* Active Marker ========== */

.project__marker{
    height:100vh;
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
    flex-direction:column;
    width:4px;
    position:absolute;
    right:0;
    top:0;

    span{
        height:10%;

        width:100%;
        background:$black-dark;
    }
}



/* check box ========== */


.is-complete {


    .project__complete {

        animation-duration: .35s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
        animation-name: project-complete;
    }
}




/* states End ========== */




.l-main-pagecontent h3 {
	line-height:2.5rem;
}
/*========================================
=           Project title            =
========================================*/

.project__title--container{

margin-top:2rem;
}




h3.project__title{
	margin:0!important;
	font-family: "Helvetica Neue";
font-size: 1rem!important;
line-height:1.5rem!important;
font-weight: 700;

  @media (min-width: $breakpoint-desktop) {
font-size: 30px;
line-height:30px;
  }

}


.project-label{

	font-family: "Helvetica Neue";
font-size: 11px;
font-weight: 700;
color:$red;
text-transform: uppercase;
letter-spacing: 3.55px;

}



p.project__type{
	color: #7b7b7b;
font-family: "Helvetica Neue";
font-size: 12px;
line-height:18px!important;
font-weight: 400;
/* Text style for "Vestibulum" */
letter-spacing: 0.96px;

}

input.project__type {
  display: none;
}
input[type="text"].project__type {
  display: block;
  color: #7b7b7b !important;
  font-size: 30px!important;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1 !important;
  padding: 0;
  margin-bottom: 1rem;
  transition: all .3s;

  @media (min-width: $breakpoint-desktop) {
    font-size: 43px!important;
  }

  &:hover {
    color: $black !important;
    cursor: pointer;
  }
}

label.project__type,
.ocm-wwu-project-form-services__option{
  position: relative;
	color: #7b7b7b;
  font-family: "Helvetica Neue";
  font-size: 30px!important;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1;
  padding: 0 0 0 2rem;
  margin-bottom: 1rem;
  transition: all .3s;

  @media (min-width: $breakpoint-desktop) {
    font-size: 43px!important;
  }

  &:hover {
    color: $black;
    cursor: pointer;
  }

  &.selected {
    color: $black;

    &:before {
      content: '';
      background-image: url('/communications/images/work-with-us/icon-check.svg');
      filter: grayscale(0%);
    }

    & > input[type='text'] {
      color: $black !important;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('/communications/images/work-with-us/icon-add-service.svg') center no-repeat;
    background-size: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    filter: grayscale(100%);
    transition: all .2s;

    @media (min-width: $breakpoint-desktop) {
      background-size: 1.25rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}




/*========================================
=           Project Services           =
========================================*/

ul.services{
	 display:inline-block;
	   list-style:none;
}


li.service{
	list-style:none;
	color: #7b7b7b!important;
font-family: "Helvetica Neue"!important;
font-size: 24px!important;
font-weight: 600;
letter-spacing: 1px!important;
}


li.service:before{
	  content:"";
  height:1em;
  width:1em;
  display:block;
  float:left;
  margin-left:-1.5em;
  background-position:center;
  background-repeat:no-repeat;
  background-size:100%;
   background-image:url("data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13">
  <g fill="none" fill-rule="evenodd">
    <ellipse fill="#0DB268" cx="6.188" cy="6.253" rx="6.188" ry="6.253"/>
    <path fill="#FFF" d="M6.996 5.452V3.198H5.784v2.254H3.53v1.212h2.254v2.254h1.212V6.664H9.25V5.452"/>
  </g>
</svg>
");
  background-size:90%;
  background-position:center;
  transition: background-size 0.3s;
  -webkit-transition: background-size 0.3s;
}

@import "work-with-us/process";
@import "work-with-us/transitions";
@import "work-with-us/submit";
@import "work-with-us/notice";
