



/*========================================
=            Project Progress            =
========================================*/

.ocm-wwu-project__progress {
    height: calc(100vh - 84px);
    padding-right: 2vw;

    z-index: 9999;
	position:fixed;
  top: 0;
  right: 0;
	width:25vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
	    @media (min-width: $breakpoint-tablet) {
	width:15%;
	}

    @media (min-width: $breakpoint-desktop) {
        height: calc(100vh - 124px);
        width:10%;

    }

    &:after{

        content:'';
        height:10%;
        width:4px;
        background:$black-dark;
        position:absolute;
        right:5px;
        top:6vh;
        transition: all .3s;

        @media (min-width: $breakpoint-desktop) {
            right: 15px;
        }

    }
    &.onProject {

        &:after {
            content: '';
            top: 28vh;

            @media (min-width: $breakpoint-tablet) {
                top: 30vh;
            }
            @media (min-width: $breakpoint-desktop) {
                top: 29vh;
            }
            @media (min-width: 1400px) {
                top: 28vh;
            }
            @media (min-width: $breakpoint-desktop-large) {
                top: 29vh;
            }
        }
    }
    &.onServices {

        &:after {
            content: '';
            top: 50vh;

            @media (min-width: $breakpoint-tablet) {
                top: 52vh;
            }
            @media (min-width: $breakpoint-tablet-large) {
                top: 54vh;
            }
            @media (min-width: $breakpoint-desktop) {
                top: 52vh;
            }
            @media (min-width: 1400px) {
                top: 49.5vh;
            }
            @media (min-width: $breakpoint-desktop-large) {
                top: 52vh;
            }
        }
    }
    &.onSubmit {

        &:after {
            content: '';
            top: 72vh;

            @media (min-width: $breakpoint-tablet) {
                top: 75vh;
            }
            @media (min-width: $breakpoint-tablet-large) {
                top: 77vh;
            }
            @media (min-width: $breakpoint-desktop) {
                top: 75vh;
            }
            @media (min-width: 1400px) {
                top: 71vh;
            }
            @media (min-width: $breakpoint-desktop-large) {
                top: 74vh;
            }
        }
    }
}


/* Steps ====================================== */

.ocm-wwu-project-progress__step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;



    .ocm-wwu-project-progress__icon path,
    .ocm-wwu-project-progress__icon g {
        transition: all .4s ease;
    }

    p {
        margin: 0;
        color: #7b7b7b;
        font-family: $font-ocm;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 700;
        transition: all .4s ease;


        @media (min-width: $breakpoint-tablet) {
            font-size:.75rem;
        }
    }


    &:hover {
        p {
            color: $black-dark;
        }

        .ocm-wwu-project-progress__icon path,
        .ocm-wwu-project-progress__icon g {
            fill: $black;
        }
    }

    &.is-active {

      p {
        color: $black-dark;
      }
    }
}



/* Steps End ========== */


/* Icons ====================================== */

.ocm-wwu-project-progress__icon {
    width: auto;
    height: 3rem;

    @media (min-width: $breakpoint-desktop) {

        height:3rem;
    }

    path,
    g {
        fill: $dark-grey;
    }
}




.project__complete {
    width: 30%;
    height: 30%;
    opacity: 0;
    transform-origin: center;
    transition: all .4s ease;
    position: absolute;
    top: -8px;
    right: 7px;

    @media (min-width: $breakpoint-desktop) {
        width:1.5rem;
        height: 1.5rem;
        top: -.75rem;
        right: .75rem;
    }
}



/* Icons End ========== */



/*=====  End of Project Progress  ======*/
