#ocm-home__header {
  position: relative;
  padding: 2rem 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 4rem 0;
  }
  @media (min-width: 1400px) {
    padding: 8rem 0;
  }
  @media (min-width: $breakpoint-desktop-large) {
    padding: 12rem 0 8.5rem;
  }

  .ocm-home-header__subtitle {
    color: $red;
    font-family: $font-ocm-secondary;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 $page-margin;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 $page-margin-tablet;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 1.75rem;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 2.813rem;
      letter-spacing: 0.635rem;
      margin: 0 $page-margin-desktop;
    }
  }

  h1 {
    position: relative;
    font-family: $font-ocm-secondary;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 $page-margin 4rem;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 $page-margin-tablet 4rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 8.5rem;
      margin-bottom: 10rem;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 15rem;
      line-height: 16rem;
      margin: 0 $page-margin-desktop 4rem;
    }
    @media (min-width: 1400px) {
      font-size: 18.438rem;
      line-height: 19rem;
    }

    &:after {
      content: '';
      position: absolute;
      right: 18%;
      bottom: -4.6rem;
      background-color: $red;
      height: 1.25rem;
      width: 65%;
      opacity: 0.83;
      z-index: 2;

      @media (min-width: $breakpoint-tablet) {
        right: 60%;
        bottom: -4.6rem;
        height: 1.25rem;
        width: 33%;
      }
      @media (min-width: $breakpoint-tablet-large) {
        right: 45%;
        bottom: -8.75rem;
        height: 2.25rem;
        width: 45%;
      }
      @media (min-width: $breakpoint-desktop) {
        right: 10%;
        bottom: -15.5rem;
        width: 48rem;
        height: 4rem;
      }
      @media (min-width: 1400px) {
        right: auto;
        bottom: -18rem;
        left: 14rem;
        width: 60rem;
      }
    }

    span {
      position: absolute;
      overflow: hidden;
      animation: topToBottom 24s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite 0s;
      opacity: 0;
      z-index: 1;

      @media (min-width: $breakpoint-desktop-large) {
        text-indent: .5vw;
      }

      &:nth-child(2) {
        animation-delay: 6s;
      }
      &:nth-child(3) {
        animation-delay: 12s;
      }
      &:nth-child(4) {
        animation-delay: 18s;
      }
    }
  }

  .ocm-home-header__text {
    font-family: $font-ocm;
    line-height: 1.2;
    padding: 3rem $page-margin 1rem;

    @media (min-width: $breakpoint-tablet) {
      padding: 2rem 33% 2rem $page-margin-tablet;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin-left: $page-margin-tablet;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 1.438rem;
      line-height: 2.438rem;
      padding: 15rem 33% 2rem $page-margin-desktop;
      margin-left: $page-margin-desktop;
    }
    @media (min-width: 1400px) {
      padding-top: 18rem;
      padding-right: 40%;
      margin-left: 14rem;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      padding-right: 60%;
    }
  }
}
