#ocm-home__ideas {
  position: relative;
  z-index: 10;

  .ocm-home__h2 {
    position: relative;
    background-color: $black;
    color: $white;
    text-align: right;
    padding: 1.5rem .5rem .5rem 0;
    margin: 0 44% 0 0;
    max-width: 100%;

    @media (min-width: $breakpoint-tablet) {
      font-size: 3.25rem;
      word-wrap: break-word;
      padding: 3.25rem 1.5rem 1.5rem;
      margin: 0 44% 0 $page-margin-tablet;
      max-width: 100%;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 4rem;
    }
    @media (min-width: $breakpoint-desktop) {
      padding: 12.5rem 3.75rem 3.75rem;
      margin: 0 46% 0 $page-margin-desktop;
    }
    @media (min-width: 1400px) {
      font-size: 6.688rem;
      line-height: 6.688rem;
      letter-spacing: 0.063rem;
      padding: 12.5rem 3.75rem 3.75rem 0;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      margin: 0 47.5% 0 0;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      padding: 12.5rem 3.75rem 3.75rem 20%;
      margin: 0 48% 0 0;
    }

    &:before {
      content: '';
      display: none;

      @media (min-width: 1400px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-color: $black;
        height: 100%;
        width: 100%;
      }
    }
  }

  .ocm-ideas__grid {
    lost-center: 90%;
    align-items: flex-start;
    margin-top: -5.75rem;

    @media (min-width: $breakpoint-tablet) {
      lost-center: 100%;
      padding: 0 $page-margin-tablet;
      margin-top: -11.85rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      margin-top: -14rem;
    }
    @media (min-width: $breakpoint-desktop) {
      padding: 0 $page-margin-desktop;
      margin-top: -25.75rem;
    }
    @media (min-width: 1400px) {
      lost-center: 1600px;
      margin-top: -29.6rem;
    }

    .ideas-grid__idea {
      lost-column: 1/2;
      position: relative;

      @media (min-width: $breakpoint-tablet) {
        lost-column: 56/100;
      }
      @media (min-width: $breakpoint-desktop-xl) {
        lost-column: 56/100 0 5rem;
      }

      &:first-child {
        margin-top: 10rem;

        @media (min-width: $breakpoint-tablet) {
          margin-top: 18rem;
          margin-bottom: 5rem;
        }
        @media (min-width: $breakpoint-tablet-large) {
          margin-top: 22rem;
        }
        @media (min-width: $breakpoint-desktop) {
          margin-top: 28rem;
        }
        @media (min-width: 1400px) {
          margin-top: 40rem;
        }
      }

      &:nth-child(4),
      &:last-child {
        margin-top: -4rem;

        @media (min-width: $breakpoint-tablet) {
          margin-top: -5rem;
        }
        @media (min-width: $breakpoint-desktop) {
          margin-top: -20rem;
        }
        @media (min-width: 1400px) {
          margin-top: -16rem;
        }
      }

      &:nth-child(even) {
        lost-column: 4/9;
        lost-column-cycle: 1;

        @media (min-width: $breakpoint-tablet) {
          lost-column: 44/100 1;
        }
        @media (min-width: $breakpoint-desktop-xl) {
          lost-column: 44/100 1 5rem;
        }

        .idea__image {
          height: 13rem;

          @media (min-width: $breakpoint-tablet) {
            height: 23rem;
          }
          @media (min-width: $breakpoint-tablet-large) {
            height: 30rem;
          }
          @media (min-width: 1400px) {
            height: 44rem;
          }
        }
      }

      &:nth-child(odd) {

        .idea__image {
          height: 13rem;

          @media (min-width: $breakpoint-tablet) {
            height: 30rem;
          }
          @media (min-width: $breakpoint-tablet-large) {
            height: 40rem;
          }
          @media (min-width: $breakpoint-desktop) {
            height: 50rem;
          }
        }
      }

      &:last-child {
        lost-column: 4/9;
        lost-column-cycle: 1;
        margin-top: -10rem;

        @media (min-width: $breakpoint-tablet) {
          margin-top: -25rem;
        }
        @media (min-width: $breakpoint-desktop) {
          margin-top: -48rem;
        }
        @media (min-width: $breakpoint-desktop-xl) {
          lost-column: 44/100 1 5rem;
        }

        .idea__image {
          height: 10rem;

          @media (min-width: $breakpoint-tablet) {
            height: 23rem;
          }
          @media (min-width: $breakpoint-tablet-large) {
            height: 35rem;
          }
          @media (min-width: $breakpoint-desktop) {
            height: 43rem;
          }
        }
      }

      .idea__image {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      }

      h4 {
        font-family: $font-ocm-secondary;
        margin: 1rem 0 .25rem;

        @media (min-width: $breakpoint-tablet) {
          margin-top: 2rem;
          margin-left: 2rem;
        }
        @media (min-width: 1400px) {
          font-size: 2.375rem;
          line-height: 1;
        }
      }

      p {
        font-family: $font-ocm;
        font-size: 1rem;
        line-height: 1.2;
        margin-top: 0;

        @media (min-width: $breakpoint-tablet) {
          margin-left: 2rem;
        }
        @media (min-width: 1400px) {
          font-size: 1.75rem;
          line-height: 1;
        }
      }
    }
  }
}
