#ocm-home__photography {
  position: relative;
  overflow: hidden;
  z-index: 12;

  .home-photography__background {
    position: absolute;
    top: 4rem;
    left: 5.25%;
    background-color: $red;
    width: 45%;
    height: 16rem;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      top: 12rem;
      left: 5.25%;
      height: 58%;
      width: 38%;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 32%;
    }
  }

  .ocm-home__h2 {
    position: relative;
    font-size: 1.325rem;
    line-height: 1.5rem;
    margin-left: 45%;
    z-index: 4;

    @media (min-width: $breakpoint-tablet) {
      font-size: 3.5rem;
      line-height: 3.6rem;
      padding-bottom: 0;
      margin-top: 12rem;
      margin-left: 40%;
    }
    @media (min-width: $breakpoint-tablet-large) {
      margin-top: 15rem;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 4rem;
      line-height: 4.75rem;
      padding-bottom: 2rem;
      margin-top: 14rem;
    }
    @media (min-width: 1400px) {
      font-size: 6.688rem;
      line-height: 6.688rem;
      padding-left: 0;
      margin-top: 9rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      font-size: 6rem;
      line-height: 5.484rem;
      margin-top: 10rem;
    }
  }

  .ocm__more-link {
    position: relative;
    font-size: 1rem;
    text-align: right;
    border-width: .25rem;
    padding-top: 5.5rem;
    margin-right: $page-margin;
    margin-left: auto;
    max-width: 22%;
    z-index: 2;

    &:hover {
      color: $white;
    }

    @media (min-width: $breakpoint-tablet) {
      position: absolute;
      bottom: 7rem;
      left: $page-margin-tablet;
      font-size: 1.25rem;
      text-align: left;
      margin-right: 0;
      margin-left: $page-margin-tablet;
      max-width: 20%;
      border-width: 0.5rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      bottom: 15rem;
      font-size: 1.85rem;
      line-height: 1.9rem;
    }
    @media (min-width: $breakpoint-desktop) {
      bottom: 19rem;
      margin-left: $page-margin-desktop;
    }
    @media (min-width: 1400px) {
      bottom: 21rem;
      max-width: 15%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      bottom: 26rem;
      margin-left: 6rem;
      max-width: 12%;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      bottom: 30%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      bottom: 31.5%;
      margin-left: 10rem;
      max-width: 8%;
    }
  }

  .home-photography__photo {
    position: absolute;
    top: 0;
    left: 0;
    background: url('/communications/images/admin-tower.jpg') center no-repeat;
    background-size: cover;
    width: 45%;
    height: 16rem;
    z-index: 3;

    @media (min-width: $breakpoint-tablet) {
      top: 5rem;
      left: 0;
      height: 58%;
      width: 38%;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 32%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(-67deg, rgba(255, 112, 112, 0) 0%, #ffffff 100%);
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  video {
    position: relative;
    padding-bottom: 3rem;
    margin: 4.5rem 0 0;
    width: 100%;
    z-index: 2;

    @media (min-width: $breakpoint-tablet) {
      margin-left: 43.25%;
      width: 56.75%;
    }
    @media (min-width: $breakpoint-tablet-large) {
      padding-bottom: 15rem;
    }
    @media (min-width: $breakpoint-desktop) {
      margin-left: 37.25%;
      width: 62.75%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      padding-bottom: 20rem;
    }
  }
}
