#ocm-home__stories {
  position: relative;
  padding-bottom: 3rem;
  margin-top: 0;
  z-index: 11;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 3rem;
    padding-bottom: 0;
    margin-top: 0;
  }
  @media (min-width: $breakpoint-desktop-large) {
    margin-bottom: 5rem;
  }
  @media (min-width: $breakpoint-desktop-xl) {
    padding-top: 6rem;
  }

  .ocm-home__h2 {
    position: relative;
    background-color: $black;
    color: $white;
    padding: 3rem 0 $page-margin $page-margin;
    max-width: 100%;
    z-index: 3;

    @media (min-width: $breakpoint-tablet) {
      padding: 3.25rem 1.5rem 1.5rem;
      margin: 0 0 0 38%;
      max-width: 100%;
    }
    @media (min-width: $breakpoint-desktop) {
      padding: 9rem 3.75rem 3.75rem;
    }
  }

  .home-stories__sliders {

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      padding-right: $page-margin-tablet;
    }
    @media (min-width: $breakpoint-desktop) {
      padding-right: $page-margin-desktop;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      max-width: 2000px;
      margin: 0 auto;
    }

    .home-stories__main-slider {

      @media (min-width: $breakpoint-tablet) {
        width: 56%;
      }

      .slick-arrow {
        position: absolute;
        background: transparent;
        color: transparent;
        @include size(3rem);
        border: none;
        z-index: 1;
      }

      .home-stories__main-slide {
        position: relative;

        .home-stories-slide__image {
          position: relative;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;

          &:after {
            content: '';
            display: block;
            padding-top: 100%;
          }
        }
      }
    }

    .home-stories__second-slider {
      position: relative;
      display: none;

      @media (min-width: $breakpoint-tablet) {
        display: block;
        align-self: flex-start;
        width: 44%;
      }
      @media (min-width: $breakpoint-desktop) {
        // transform: translateY(6rem);
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($darker-grey, 0.5);
        height: 100%;
        width: 100%;
        z-index: 1;
      }

      .slick-arrow {
        position: absolute;

        &:focus {
          outline: none;
        }

        &.slick-prev {
          opacity: 0;
        }

        &.slick-next {
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);
          background-color: transparent;
          color: transparent;
          width: 3rem;
          height: 3rem;
          border: none;
          border-radius: 50%;
          z-index: 2;

          @media (min-width: $breakpoint-desktop) {
            width: 4rem;
            height: 4rem;
          }

          &:hover {
            background-color: rgba($grey, 0.125);
            cursor: pointer;
          }

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: url('/communications/images/next.svg') center no-repeat;
            background-size: 2rem;
            width: 3rem;
            height: 3rem;
            z-index: 3;

            @media (min-width: $breakpoint-desktop) {
              background-size: 2.5rem;
              width: 4rem;
              height: 4rem;
            }
          }
        }
      }

      .home-stories__second-slide {

        @media (min-width: $breakpoint-tablet) {
          position: relative;
          width: 100%;
        }

        .home-stories-slide__image {

          @media (min-width: $breakpoint-tablet) {
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;

            &:after {
              content: '';
              display: block;
              padding-top: 100%;
            }
          }
        }
      }
    }

    .home-stories__text-slider {
      background-color: $black;
      padding: 0 $page-margin;

      @media (min-width: $breakpoint-tablet) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-40%);
        max-width: 50%;
        z-index: 10;
      }
      @media (min-width: $breakpoint-desktop) {
        padding: 0 2.5rem;
      }
      @media (min-width: $breakpoint-desktop-huge) {
        padding: 0 5rem;
        max-width: 40%;
      }

      h3 {
        padding-bottom: 1rem;
        margin: 1.5rem 0;

        @media (min-width: $breakpoint-tablet) {
          line-height: 1.1;
          margin: 3.5% 0;
        }
        @media (min-width: $breakpoint-tablet-large) {
          font-size: 2.25rem;
          margin: 4% 0;
        }
        @media (min-width: $breakpoint-desktop) {
          font-size: 3rem;
          letter-spacing: 0.063rem;
          line-height: 3rem;
          padding-bottom: 2rem;
          margin: 3.75% 0;
        }
        @media (min-width: 1400px) {
          font-size: 4.063rem;
          line-height: 4.063rem;
          letter-spacing: 0.063rem;
        }
        @media (min-width: $breakpoint-desktop-large) {
          padding-bottom: 3rem;
          margin: 4.6% 0;
        }
        @media (min-width: $breakpoint-desktop-xl) {
          margin: 3.125rem 0;
        }

        a {
          color: $white;
        }
      }
    }
  }

  .ocm__more-link {
    position: absolute;
    top: 2.25rem;
    right: $page-margin;
    color: $white;
    font-size: 1rem;
    border-color: $white;
    border-width: .25rem;
    z-index: 3;

    &:hover {
      color: $dark-grey;
    }

    @media (min-width: $breakpoint-tablet) {
      top: 3rem;
      right: 0;
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-align: right;
      max-width: 15%;
      margin: .25rem $page-margin-tablet 0;
    }
    @media (min-width: $breakpoint-desktop) {
      top: 4rem;
      right: $page-margin-desktop;
      font-size: 1.625rem;
      letter-spacing: 0.063rem;
      line-height: 1.2;
      margin: 0;
      max-width: 18%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      top: 6rem;
      right: 6rem;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      top: 9rem;
      right: 5%;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      top: 9rem;
      right: 15%;
    }
  }
}
