#ocm-home__web {
  position: relative;
  background-color: $white;
  padding-bottom: 2rem;
  margin-top: 0;
  z-index: 13;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 0;
    margin-top: 0;
  }
  @media (min-width: $breakpoint-tablet-large) {
    margin-top: -9.25rem;
  }
  @media (min-width: $breakpoint-desktop) {
    margin-top: -9.625rem;
  }
  @media (min-width: $breakpoint-desktop-large) {
    margin-top: -10.825rem;
  }

  .ocm-home__h2 {
    background-color: $black;
    color: $white;
    text-align: right;
    padding: 2rem $page-margin $page-margin 0;
    margin-right: 27.75%;
    max-width: 100%;

    @media (min-width: $breakpoint-tablet) {
      padding: 3.25rem 1.5rem 1.5rem;
      margin-right: 44%;
      margin-left: 0;
    }
    @media (min-width: 1400px) {
      padding: 6rem 3.75rem 3.75rem;
    }
  }

  .home-web__cards {
    perspective: 1000px;
    padding-top: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;

    @media (min-width: $breakpoint-tablet) {
      position: relative;
      perspective: none;
      padding-top: 5rem;
      padding-bottom: 0;
      margin-top: 3rem;
      margin-bottom: 0;
    }
    @media (min-width: $breakpoint-desktop) {
      margin: 4rem $page-margin-desktop 0;
    }
    @media (min-width: 1400px) {
      margin: 8rem $page-margin-desktop 0;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      max-width: 1800px;
      margin: 8rem auto 0;
    }

    .home-web__card {
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.6s;
      // box-shadow: -20px 20px 40px rgba($dark-grey, 0.4);

      .web-card__face {
        position: absolute;
      }

      .web-card__front,
      .web-card__back {
        background-color: transparent;
        width: inherit;
        height: inherit;
      }
      .web-card__left,
      .web-card__right {
        background-color: $dark-grey;
        width: .1875rem;
        height: inherit;
        display: none;
      }
      .web-card__top,
      .web-card__bottom {
        background-color: $dark-grey;
        width: inherit;
        height: .1875rem;
        display: none;
      }

      .web-card__front {
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translate3d(0, 0, 0.09375rem);
        animation: 12s infinite slowPageScroll;
        animation-timing-function: ease;
        overflow: hidden;
      }
      .web-card__back {
        transform: rotateY(180deg) translate3d(0, 0, 0.09375rem);
      }

      &.home-web__card--desktop {
        background: url('/communications/images/home/iMac.png') center top no-repeat;
        background-size: contain;
        margin: 0 auto;
        width: 15.5rem;
        height: 15rem;

        @media (min-width: $breakpoint-tablet) {
          margin-right: auto;
          margin-left: 5rem;
          width: 18rem;
          height: 17rem;
        }
        @media (min-width: $breakpoint-tablet-large) {
          width: 23rem;
          height: 22rem;
        }
        @media (min-width: $breakpoint-desktop) {
          margin-left: 0;
          width: 36rem;
          height: 34rem;
        }
        @media (min-width: 1400px) {
          width: 47rem;
          height: 45rem;
        }
        @media (min-width: $breakpoint-desktop-xl) {
          margin-left: 10rem;
        }

        .web-card__front {
          top: 4.75%;
          left: 4.5%;
          background-image: url('/communications/images/home/web/ttu-homepage-desktop.jpg');
          width: 91%;
          height: 52%;
          margin: 0 auto;

          @media (min-width: $breakpoint-tablet) {
            top: 4.5%;
            width: 91.5%;
            height: 53%;
          }
          @media (min-width: $breakpoint-desktop) {
            height: 53.5%;
          }
          @media (min-width: 1400px) {
            top: 4.25%;
          }
          @media (min-width: $breakpoint-desktop) {
            left: 4.325%;
            height: 53%;
          }
        }
        .web-card__left {
          transform: rotateY(-90deg) translate3d(0, 0, 2px);
        }
        .web-card__right {
          transform: rotateY(90deg) translate3d(0, 0, 95px);
        }
        .web-card__top {
          transform: rotateX(90deg) translate3d(0, 0, 1px);
        }
        .web-card__bottom {
          transform: rotateX(-90deg) translate3d(0, 0, 222px);

          @media (min-width: $breakpoint-tablet) {
            transform: rotateX(-90deg) translate3d(0, 0, 414px);
          }
          @media (min-width: $breakpoint-tablet-large) {
            transform: rotateX(-90deg) translate3d(0, 0, 478px);
          }
          @media (min-width: $breakpoint-desktop) {
            transform: rotateX(-90deg) translate3d(0, 0, 559px);
          }
          @media (min-width: $breakpoint-desktop-large) {
            transform: rotateX(-90deg) translate3d(0, 0, 639px);
          }
        }
      }

      &.home-web__card--tablet {
        display: none;
        position: absolute;
        top: 4rem;
        left: 2rem;
        background: url('/communications/images/home/MacBookAir.png') center top no-repeat;
        background-size: contain;
        width: 7rem;
        height: 6.25rem;

        @media (min-width: $breakpoint-tablet) {
          display: block;
          top: 0;
          left: 55%;
          width: 17rem;
          height: 11rem;
        }
        @media (min-width: $breakpoint-tablet-large) {
          left: 50%;
          width: 20rem;
          height: 12rem;
        }
        @media (min-width: $breakpoint-desktop) {
          left: 60%;
          width: 27rem;
          height: 16rem;
        }
        @media (min-width: 1400px) {
          left: 61.5%;
          width: 31rem;
          height: 18rem;
        }
        @media (min-width: $breakpoint-desktop-large) {
          left: 59%;
          width: 36rem;
          height: 21rem;
        }

        .web-card__front {
          top: 5.5%;
          left: 17.25%;
          background-image: url('/communications/images/home/web/ttu-homepage-tablet.jpg');
          width: 65.145%;
          height: 63.5%;
          margin: 0 auto;

          @media (min-width: $breakpoint-tablet-large) {
            top: 6.5%;
            height: 68.25%;
          }
          @media (min-width: $breakpoint-desktop) {
            height: 68.75%;
          }
          @media (min-width: 1400px) {
            height: 70.5%;
          }
        }
        .web-card__left {
          transform: rotateY(-90deg) translate3d(0, 0, 2px);
        }
        .web-card__right {
          transform: rotateY(90deg) translate3d(0, 0, 94px);
        }
        .web-card__top {
          transform: rotateX(90deg) translate3d(0, 0, 1px);
        }
        .web-card__bottom {
          transform: rotateX(-90deg) translate3d(0, 0, 98px);

          @media (min-width: $breakpoint-tablet) {
            transform: rotateX(-90deg) translate3d(0, 0, 190px);
          }
          @media (min-width: $breakpoint-tablet-large) {
            transform: rotateX(-90deg) translate3d(0, 0, 206px);
          }
          @media (min-width: $breakpoint-desktop) {
            transform: rotateX(-90deg) translate3d(0, 0, 254px);
          }
          @media (min-width: $breakpoint-desktop-large) {
            transform: rotateX(-90deg) translate3d(0, 0, 318px);
          }
        }
      }

      &.home-web__card--mobile {
        display: none;
        position: absolute;
        top: 7.65rem;
        left: 8.4rem;
        background: url('/communications/images/home/iPhone5.png') center top no-repeat;
        background-size: contain;
        width: 3.5rem;
        height: 7rem;

        @media (min-width: $breakpoint-tablet) {
          display: block;
          top: 11rem;
          left: 60%;
          width: 5rem;
          height: 12rem;
        }
        @media (min-width: $breakpoint-tablet-large) {
          top: 13rem;
          left: 55%;
          width: 6rem;
          height: 14rem;
        }
        @media (min-width: $breakpoint-desktop) {
          top: 18rem;
          left: 65%;
          width: 9rem;
          height: 21rem;
        }
        @media (min-width: 1400px) {
          top: 21rem;
          left: 70%;
        }
        @media (min-width: $breakpoint-desktop-large) {
          top: 23rem;
          left: 65%;
        }

        .web-card__front {
          background-image: url('/communications/images/home/web/ttu-homepage-mobile.jpg');
          top: 14.75%;
          left: 27.5%;
          width: 53.75%;
          height: 53.75%;
          margin: 0 auto;
          transform-origin: center right;
          transform: perspective(100px) rotateY(9deg) skew(0deg, 7deg);

          @media (min-width: $breakpoint-tablet-large) {
            top: 15.75%;
            left: 26.5%;
            height: 54.75%;
            transform: perspective(100px) rotateY(7deg) skew(0deg, 7deg);
          }
          @media (min-width: $breakpoint-desktop) {
            top: 15.5%;
            left: 28%;
            height: 55.75%;
            transform: perspective(100px) rotateY(6deg) skew(0deg, 7deg);
          }
          @media (min-width: 1400px) {
            width: 54.75%;
            height: 55.25%;
            transform: perspective(100px) rotateY(6deg) skew(0deg, 6deg);
          }
          @media (min-width: $breakpoint-desktop-large) {
            width: 53.75%;
          }
        }
        .web-card__left {
          transform: rotateY(-90deg) translate3d(0, 0, 2px);
        }
        .web-card__right {
          transform: rotateY(90deg) translate3d(0, 0, 54px);
        }
        .web-card__top {
          transform: rotateX(90deg) translate3d(0, 0, 1px);
        }
        .web-card__bottom {
          transform: rotateX(-90deg) translate3d(0, 0, 110px);

          @media (min-width: $breakpoint-tablet) {
            transform: rotateX(-90deg) translate3d(0, 0, 174px);
          }
          @media (min-width: $breakpoint-tablet-large) {
            transform: rotateX(-90deg) translate3d(0, 0, 238px);
          }
          @media (min-width: $breakpoint-desktop) {
            transform: rotateX(-90deg) translate3d(0, 0, 319px);
          }
          @media (min-width: $breakpoint-desktop-large) {
            transform: rotateX(-90deg) translate3d(0, 0, 351px);
          }
        }
      }
    }
  }

  .home-web__background {
    display: none;

    @media (min-width: $breakpoint-tablet) {
      display: block;
      position: absolute;
      top: 27%;
      left: 25%;
      background-color: $grey;
      width: 58%;
      height: 59%;
      z-index: -1;
    }
    @media (min-width: $breakpoint-desktop) {
      top: 24%;
    }
    @media (min-width: 1400px) {
      top: 28.75rem;
      width: 61rem;
      height: 62rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      top: 26rem;
    }
  }

  .ocm__more-link {
    position: absolute;
    right: $page-margin;
    bottom: 2rem;
    font-size: 1rem;
    text-align: right;
    border-width: .25rem;
    margin-left: $page-margin;

    @media (min-width: $breakpoint-tablet) {
      right: 4.5rem;
      font-size: 1.25rem;
      margin-left: 7.5rem;
      border-width: 0.5rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      font-size: 1.85rem;
      line-height: 1.9rem;
    }
    @media (min-width: $breakpoint-desktop) {
      margin-left: 14.5rem;
    }
    @media (min-width: 1400px) {
      padding-top: 1rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      right: auto;
      left: 75%;
      padding-top: 0;
      margin-left: 0;
    }
    @media (min-width: $breakpoint-desktop-huge) {
      left: 70%;
    }
  }
}
