#ocm-home__work-with-us {
  display: flex;
  align-items: stretch;
  position: relative;
  background-color: $black;
  z-index: 14;

  .ocm-home__h2 {
    width: 56%;
    color: $white;
    padding: 4rem $page-margin $page-margin;
    margin: 0;

    @media (min-width: $breakpoint-tablet) {
      font-size: 5rem;
      line-height: 5.1rem;
      padding: 10rem $page-margin-tablet $page-margin-tablet;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 6rem;
      line-height: 6.1rem;
      padding: 22.625rem $page-margin-desktop $page-margin-desktop;
    }
    @media (min-width: 1400px) {
      font-size: 6.688rem;
      letter-spacing: 0.063rem;
      line-height: 1;
    }
    @media (min-width: $breakpoint-desktop-large) {
      max-width: 100%;
    }
    @media (min-width: $breakpoint-desktop-xl) {
      max-width: 100%;
    }
  }

  .ocm-home-wwu__link {
    position: relative;
    text-align: right;
    background-color: $darker-grey;
    width: 44%;
    margin: 0;

    @media (min-width: $breakpoint-tablet-large) {
      width: 45%;
    }

    &:hover {

      a {
        right: 1.75rem;

        @media (min-width: $breakpoint-tablet) {
          right: 3rem;
        }
        @media (min-width: $breakpoint-desktop) {
          right: 5.5rem;
        }
      }
      .ocm-home-wwu-box__bottom,
      .ocm-home-wwu-box__top {
        width: calc(100% - 2.5rem);

        @media (min-width: $breakpoint-tablet) {
          width: calc(100% - 5rem);
        }
        @media (min-width: $breakpoint-desktop) {
          width: calc(100% - 9.375rem);
        }
      }
      .ocm-home-wwu-box__left,
      .ocm-home-wwu-box__right {
        height: calc(100% - 2.5rem);

        @media (min-width: $breakpoint-tablet) {
          height: calc(100% - 5rem);
        }
        @media (min-width: $breakpoint-desktop) {
          height: calc(100% - 9.375rem);
        }
      }
      .ocm-home-wwu-box__bottom {
        transition-delay: 0s;
      }
      .ocm-home-wwu-box__left {
        transition-delay: .2s;
      }
      .ocm-home-wwu-box__top {
        transition-delay: .4s;
      }
      .ocm-home-wwu-box__right {
        transition-delay: .6s;
      }
    }

    a {
      position: absolute;
      right: $page-margin;
      bottom: 1.75rem;
      color: $white;
      font-family: $font-ocm-secondary;
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 700;
      transition: all .3s;

      &:hover {
        color: $dark-grey;
      }

      @media (min-width: $breakpoint-tablet) {
        bottom: 3rem;
        right: $page-margin-tablet;
        font-size: 2rem;
        line-height: 2.125rem;
      }
      @media (min-width: $breakpoint-desktop) {
        right: $page-margin-desktop;
        bottom: 5.5rem;
        font-size: 2.75rem;
        line-height: 2.825rem;
        letter-spacing: 0.063rem;
      }
    }

    .ocm-home-wwu-box__bottom,
    .ocm-home-wwu-box__left,
    .ocm-home-wwu-box__top,
    .ocm-home-wwu-box__right {
      position: absolute;
      background-color: $white;
      transition: all .2s;
    }
    .ocm-home-wwu-box__bottom {
      right: $page-margin;
      bottom: $page-margin;
      width: 65%;
      height: .125rem;
      transition-delay: .6s;

      @media (min-width: $breakpoint-tablet) {
        right: $page-margin-tablet;
        bottom: $page-margin-tablet;
      }
      @media (min-width: $breakpoint-desktop) {
        right: $page-margin-desktop;
        bottom: $page-margin-desktop;
        width: 47%;
      }
      @media (min-width: 1400px) {
        width: 39%;
      }
      @media (min-width: $breakpoint-desktop-large) {
        width: 31%;
      }
      @media (min-width: $breakpoint-desktop-xl) {
        width: 28%;
      }
      @media (min-width: $breakpoint-desktop-huge) {
        width: 22%;
      }
    }
    .ocm-home-wwu-box__left {
      bottom: $page-margin;
      left: $page-margin;
      width: .125rem;
      height: 0%;
      transition-delay: .4s;

      @media (min-width: $breakpoint-tablet) {
        bottom: $page-margin-tablet;
        left: $page-margin-tablet;
      }
      @media (min-width: $breakpoint-desktop) {
        bottom: $page-margin-desktop;
        left: $page-margin-desktop;
      }
    }
    .ocm-home-wwu-box__top {
      top: $page-margin;
      left: $page-margin;
      width: 0%;
      height: .125rem;
      transition-delay: .2s;

      @media (min-width: $breakpoint-tablet) {
        top: $page-margin-tablet;
        left: $page-margin-tablet;
      }
      @media (min-width: $breakpoint-desktop) {
        top: $page-margin-desktop;
        left: $page-margin-desktop;
      }
    }
    .ocm-home-wwu-box__right {
      top: $page-margin;
      right: $page-margin;
      width: .125rem;
      height: 0%;
      transition-delay: 0s;

      @media (min-width: $breakpoint-tablet) {
        top: $page-margin-tablet;
        right: $page-margin-tablet;
      }
      @media (min-width: $breakpoint-desktop) {
        top: $page-margin-desktop;
        right: $page-margin-desktop;
      }
    }
  }
}
