.ttu-emergency-home__alert {
  margin: 3rem $page-margin 0 0;

  @media (min-width: $breakpoint-tablet-large) {
    display: flex;
    align-items: center;
    padding-top: 7rem;
    margin: 0 $page-margin-tablet 0 17.6%;
  }
  @media (min-width: $breakpoint-desktop-huge) {
    margin-left: 33%;
  }

  .ttu-emergency-home-alert__text {

    @media (min-width: $breakpoint-tablet-large) {
      width: 50%;
    }

    .slick-dots {
      display: block;
      position: absolute;
      bottom: 0;
      left: 26.5%;
      list-style: none;
      margin: 0;

      @media (min-width: $breakpoint-tablet-large) {
        bottom: -3rem;
        left: 4%;
      }
      @media (min-width: $breakpoint-desktop) {
        left: 5%;
      }
      @media (min-width: $breakpoint-desktop-large) {
        left: 10%;
      }

      li {
        display: inline-block;
        margin: 0;
        width: .75rem;
        height: .75rem;
        margin: 0 1rem 0 0;

        @media (min-width: $breakpoint-tablet-large) {
          width: .5rem;
          height: .5rem;
          margin: 0 .75rem 0 0;
        }

        &.slick-active {

          button {

            &:after {
              content: '';
              background-color: $darker-grey;
            }
          }
        }

        button {
          position: relative;
          background-color: transparent;
          color: transparent;
          width: .75rem;
          height: .75rem;
          border: none;

          @media (min-width: $breakpoint-tablet-large) {
            width: .5rem;
            height: .5rem;
          }

          &:focus {
            outline: none;
          }

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: $dark-grey;
            width: .75rem;
            height: .75rem;

            @media (min-width: $breakpoint-tablet-large) {
              width: .5rem;
              height: .5rem;
            }
          }
        }
      }
    }

    .ttu-emergency-home-alert__date {
      font-family: $font-ocm-secondary;
      font-size: 0.625rem;
      font-weight: 700;
      letter-spacing: 0.813rem;
      line-height: 1.5;
      margin: 0 0 0 26.5%;

      @media (min-width: $breakpoint-tablet) {
        font-size: 0.725rem;
        letter-spacing: 0.95rem;
      }
      @media (min-width: $breakpoint-tablet-large) {
        margin-left: 4%;
      }
      @media (min-width: $breakpoint-desktop) {
        font-size: 0.813rem;
        letter-spacing: 1.125rem;
        margin-left: 5%;
      }
      @media (min-width: $breakpoint-desktop-large) {
        font-size: 0.813rem;
        letter-spacing: 1.125rem;
        margin-left: 10%;
      }
    }

    h2 {
      color: $red;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.313rem;
      margin: 1.25rem 0 0 26.5%;

      @media (min-width: $breakpoint-tablet) {
        font-size: 1.25rem;
        letter-spacing: 0.37rem;
      }
      @media (min-width: $breakpoint-tablet-large) {
        margin-left: 4%;
      }
      @media (min-width: $breakpoint-desktop) {
        font-size: 1.438rem;
        letter-spacing: 0.438rem;
        margin: 1.875rem $page-margin-tablet 0 5%;
      }
      @media (min-width: $breakpoint-desktop-large) {
        margin: 1.875rem $page-margin-desktop 0 10%;
      }
    }

    p {
      margin: 1.5rem 0 3rem 26.5%;

      @media (min-width: $breakpoint-tablet-large) {
        margin: 1.5rem 0 0 4%;
      }
      @media (min-width: $breakpoint-desktop) {
        margin: 1.5rem $page-margin-tablet 0 5%;
      }
      @media (min-width: $breakpoint-desktop-large) {
        margin: 1.5rem $page-margin-desktop 0 10%;
        max-width: 25rem;
      }
    }
  }

  .ttu-emergency-home-alert__logo {
    position: relative;
    background-color: #FFFFFF;
    width: 80%;
    height: 10.375rem;

    @media (min-width: $breakpoint-tablet) {
      width: 60%;
      height: 15rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      order: -1;
      width: 110%;
      height: 20vh;
      min-height: 17rem;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 85%;
    }
    @media (min-width: 1400px) {
      min-height: 20.8125rem;
    }
    @media (min-width: $breakpoint-desktop-large) {
      width: 50.5%;
      height: 29vh;
    }

    &.active {
      background-image: linear-gradient(90deg, #cb0000 0%, #000000 100%);
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 46%;
    }
  }
}
