.ttu-emergency-home__body {
  margin: 3.125rem $page-margin 5rem;

  @media (min-width: $breakpoint-tablet) {
    margin: 3.125rem $page-margin-tablet 5rem;
  }
  @media (min-width: $breakpoint-tablet-large) {
    padding-left: 11.8%;
    margin: 0 0 5rem;
    width: 39.6%;
  }
  @media (min-width: $breakpoint-desktop-large) {
    padding-right: $page-margin-desktop;
  }

  & > *:first-child {
    margin-top: 0;
  }

  h2 {
    margin: 3.75rem 0 1.875rem;

    @media (min-width: $breakpoint-desktop) {
      margin: 5rem 0 1.875rem;
    }
  }

  p {
    margin: 1.25rem 0;
    max-width: 25rem;

    @media (min-width: $breakpoint-desktop) {
      margin: 1.875rem 0 2.5rem;
    }
  }
}
