.ttu-emergency-home__connect {
  margin: 0 $page-margin;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 $page-margin-tablet;
  }
  @media (min-width: $breakpoint-tablet-large) {
    position: absolute;
    top: $page-margin-tablet;
    left: $page-margin-tablet;
    margin: 0;
  }
  @media (min-width: $breakpoint-desktop-large) {
    top: $page-margin-desktop;
    left: $page-margin-desktop;
  }

  h2 {
    margin: 1rem 0;

    @media (min-width: $breakpoint-tablet) {
      margin: 2rem 0 1rem;
    }
    @media (min-width: $breakpoint-tablet-large) {
      margin: 0 0 1rem;
    }
  }

  a {
    position: relative;
    display: inline-block;
    color: #333333;
    font-family: $font-ocm-secondary;
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.063rem;
    line-height: 1rem;
    padding-bottom: .375rem;
    margin-right: 1.25rem;
    overflow: hidden;

    @media (min-width: $breakpoint-tablet) {
      font-size: 0.813rem;
    }

    &:hover {

      &:before {
        opacity: 1 !important;
        transform: translateX(0%);
        transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s, transform 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s;
      }
      &:after {
        opacity: 0 !important;
        transform: translateX(150%);
        transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s, transform 0.6s cubic-bezier(0.28, 0, 0.18, 1) 0s;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $black;
      width: 100%;
      height: 0.1875rem;
    }
    &:before {
      opacity: 1 !important;
      transform: translateX(-125%);
      transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0s cubic-bezier(1, 0, 0, 1) 0s, transform 0s cubic-bezier(1, 0, 0, 1) 0s;
    }
    &:after {
      opacity: 1 !important;
      transform: translateX(0%);
      transition: background 0.5s cubic-bezier(1, 0, 0, 1) 0s, opacity 0s cubic-bezier(1, 0, 0, 1) 0s, transform 0s cubic-bezier(1, 0, 0, 1) 0s;
    }
  }
}
