.ttu-emergency-home__contact {
  background-color: $grey;
  padding: 3rem $page-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: 4rem $page-margin-tablet;
  }
  @media (min-width: $breakpoint-tablet-large) {
    order: -1;
    background-color: transparent;
    padding: 15rem $page-margin-tablet 0;
    margin: 0 0 5rem;
    width: 39.6%;
  }
  @media (min-width: 1400px) {
    padding-top: 18rem;
  }
  @media (min-width: $breakpoint-desktop-large) {
    padding: 18rem $page-margin-desktop 0;
  }

  & > *:first-child {
    margin-top: 0;
  }

  h4 {
    line-height: 1.125rem;
    margin: 3.75rem 0 1rem;
  }

  p {
    max-width: 25rem;
  }

  .ttu-emergency-home-contact__number {
    color: #333333;
    font-family: $font-ocm-secondary;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.188rem;
    line-height: 1;
    transition: all .3s;

    &:hover {
      color: $red;
    }
  }

  .ttu-emergency-home-contact__person {
    color: #333333;
    font-family: $font-ocm;
    font-size: 0.813rem;
    font-weight: 400;
    letter-spacing: 0.081rem;
    line-height: 1;
    margin: 0;
  }
}
