.ttu-emergency-home__header {
  padding: 1.25rem $page-margin 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 3rem $page-margin-tablet 0;
  }
  @media (min-width: $breakpoint-tablet-large) {
    position: absolute;
    top: 29rem;
    left: $page-margin-tablet;
    padding: 0;
  }
  @media (min-width: 1400px) {
    top: 33.56rem;
  }
  @media (min-width: $breakpoint-desktop-large) {
    top: 45vh;
    left: $page-margin-desktop;
  }

  h1 {
    margin-bottom: 0;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 1rem;
    }
  }

  .ttu-emergency-home-header__subtitle {
    font-family: $font-ocm-secondary;
    font-size: 0.625rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.188rem;
    margin: 0;

    @media (min-width: $breakpoint-tablet) {
      font-size: 1.125rem;
      letter-spacing: 0.25rem;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 1.438rem;
      letter-spacing: 0.438rem;
    }

    span {
      color: $dark-grey;
    }
  }

  .ttu-emergency-home-header__text {
    position: relative;
    display: none;

    @media (min-width: $breakpoint-tablet-large) {
      display: block;
      padding-right: $page-margin-tablet;
      width: 39%;
    }
    @media (min-width: $breakpoint-desktop) {
      margin-top: 2.5rem;
      width: 55%;
    }
    @media (min-width: $breakpoint-desktop-large) {
      margin-top: 2.5rem;
      width: 65%;
    }
  }
}
